.Banner {
	padding: 150px 0 370px;
	display: flex;
	align-items: center;

	&:before {
		content: "";
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: cover;
		background-image: url(/assets/images/banner4.jpg);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		filter: hue-rotate(165deg);
	}

	.texto {
		position: absolute;
		width: 100%;
		margin: auto 0;
		width: 50%;

		h1 {
			display: inline;
			text-align: center;
			padding: 9px;
			margin: auto;
			color: #fff;

			text-align: left;
			background: rgba(0,0,0,0.63);
			line-height: 1.6;

			b {
				background-color: #fff;
				line-height: 1.6;
				padding: 3px 10px;
				border-radius: 1px;
				color:  $dark-blue-a;
				display: inline;
			}
			span {
				display: inline-block;
				padding: 0 30px;
			}
		}
	}

	&._album {
		padding: 10px 0 210px;
		&::before {
			background-image: url(/assets/images/album.png);
		}
	}
	&._transfer{
		padding: 500px 0;
		&::before {
			background-image: url(/assets/images/transfer.jpg);
		}
	}
	&._artists{
		padding: 10px 0 210px;
		&::before {
			background-image: url(/assets/images/artists2.jpg);
		}
	}
}
