.Button {
    width: 195px;
    height: 32px;
    line-height: 32px;
    margin-bottom: 15px;
    font-weight: 400;
    display: block;
    border-radius: 30px;
    font-weight: bold;

    &._is-primary {
        background-color: $dark-blue-a;
    }
    &._is-secondary {
        margin-top: 40px;
        background-color: #fff;
        color: $dark-blue-a;
    }

    &:hover {
        &._is-primary {
            opacity: .8;
        }
        &._is-secondary {
            opacity: .8;

        }
    

    }
}