.Form {
  input {
    margin-bottom: 10px;

    &.success {
      border-color: #28a745;
    }

    &.error {
      border-color: #dc3545;
    }
  }
  label {
    margin-bottom: 10px;
    position: absolute;
    top: 6px;
    left: 14px;
    transition: all 0.3s;
    background-color: transparent;
    color: rgba(78, 78, 78, 0.8);

    &.move {
      top: -12px;
      background-color: #fff;
      transition: all 0.3s;
      padding: 0 4px;
      font-size: 14px;
    }
  }
  small {
    display: inline-block;
    color: red;

    span {
      text-decoration: underline;
    }
  }

  .input {
    margin-bottom: 30px;
  }

  &._search {
    input {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 10px;
      margin-bottom: 0;
      border: none;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
      }
    }
    .Button {
      position: absolute;
      right: 9px;
      background-color: transparent;
      i {
        font-size: 23px;
        color: $dark-blue-a;
      }
    }

    .input {
      display: inline-flex;
      padding: 10px;
      align-content: center;
      align-items: center;
      width: 100%;
      height: 50px;
      padding: 0;
      border: 1px solid #d4d4d4;
      border-radius: 4px;
      background-color: #fff;
      font-size: 14px;
      outline: none;
      box-shadow: none;
    }
  }
}
