.Form {
  input {
    &.success {
      border-color: #28a745;
    }

    &.error {
      border-color: #dc3545;
    }
    &:focus {
      border-width: 2px;
    }
  }
  label {
    position: absolute;
    top: 6px;
    left: 14px;
    transition: all 0.3s;
    background-color: transparent;
    color: rgba(78, 78, 78, 0.8);

    &.success {
      color: #28a745;
    }

    &.error {
      color: #dc3545;
    }

    &.move {
      top: -12px;
      background-color: #fff;
      transition: all 0.3s;
      padding: 0 4px;
      font-size: 14px;
    }
  }
  small {
    display: inline-block;
    color: red;
    margin: px 0;

    span {
      text-decoration: underline;
    }
  }

  .input {
    height: 60px;
  }

  &._search {
    input {
      height: 50px;
    }

    .Button {
      position: absolute;
      top: 9px;
      right: 12px;
      background-color: transparent;
      i {
        font-size: 23px;
        color: $dark-blue-a;
      }
    }

    .input {
      label {
        top: 13px;
        pointer-events: none;

        &.move {
          top: -12px;
          background-color: #fff;
          padding: 0 4px;
          font-size: 14px;
          transition: all 0.3s;
        }
      }
    }
  }
}
