.Musicas {
  display: block;
  width: 100%;
  margin: 0 auto;
  color: #0d1226;
  padding-top: 60px;

  h2 {
    text-align: left;
    display: inline-block;
  }

  ul {
    margin: 0;
    width: 100%;
    opacity: 1;
    list-style: none;
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 1s ease-in-out;

    li {
      padding: 15px;

      &:first-child {
        &:hover {
          background-color: unset;
          color: #000;
          box-shadow: none;
        }
      }

      &:hover {
        background-color: $dark-blue-a;
        backdrop-filter: blur(4px);
        color: #ffffff;
      }
      border-bottom: 1px solid $dark-blue-a;

      .time {
        display: inline-block;
        float: right;
      }
      .pos {
        display: inline-block;
        margin: 0 25px 0 0px;
      }
    }
  }
  .arrow {
    text-align: right;
  }
}
