{% extends 'base.twig' %}

{% block conteudo %}
<div class="Banner _artists">
</div>
<section class="Artist">
    <div class="container">
        <form class="Form _search" method="POST" id="artist">
            <h2>Search for your Artists</h2>
            <div class="input">
                <label for="artist" tabindex="-1">Artists ID</label>
                <input type="text" id="artist" name="artist"/> 
                <small></small>
                <button class="Button _is-search" type="submit"><i class="icon-search"></i></button>
            </div>
        </form>
        <div class="Loading hide">
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="result">
            <div class="overall" data-target="overallResponse">
                <div class="photo">
                    <img src="/assets/images/artistPhoto.jpeg" alt="Artist Photo" id="artistPhoto">
                </div>
                <div class="content">
                    <h6 id="artistType">Artist</h6>
                    <div class="profile">
                        <div class="description">
                            <h2 id="artistName">Deadmau5</h2>
                            <h4 id="artistFollowers">580.000 Followers</h4>
                            <h4 id="artistPop">Popularity</h4>
                            <div id="progress" class='progress'>
                                <div class=""></div>
                                <div class=""></div>
                                <div class=""></div>
                                <div class=""></div>
                                <div class=""></div>
                                <div class=""></div>
                                <div class=""></div>
                                <div class=""></div>
                                <div class=""></div>
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="genres">
                            <ul id="artistGenres">
                                <li>big room</li>
                                <li>canadian eletronic</li>
                                <li>edm</li>
                                <li>electro house</li>
                                <li>progressive house</li>
                            </ul>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, ipsa sunt quasi temporibus fugit ipsam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, ducimus!
                    </p>
                </div>
            </div>
            <div class="Line _artists"></div>
            <div class="toptracks" data-target="toptracksResponse">
                <div class="Row">
                    <div class="col _col-8" data-target="showTracks">
                        <span class="title">Top Tracks</span>
                        <div class="top">
                            <div class="Row">
                                <div id="track" class="col _col-12">
                                    <div class="track">
                                        <div class="content">
                                            <img src="/assets/images/song.jpeg" alt="Song Photo" id="trackPhoto">
                                            <div class="label">
                                                <h5 id="trackName">Alone With You</h5>
                                                <span id="trackDescription">Random Album Title</span>
                                            </div>
                                        </div>
                                        <span class="duration" id="duration">3:26</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col _col-4" data-target="showRelated">
                        <span class="title">Fans Also Like</span>
                        <div class="Row">
                            <div id="related" class="col _col-12">
                                <div class="related">
                                    <img id="relatedPhoto" src="/assets/images/related.jpeg" alt="Related Artist ">
                                    <div class="label">
                                        <span id="relatedName">Kaskade</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="showR" class="Button _is-primary">Show more</button>
                </div>
            </div>
            <div class="albuns" data-target="albunsResponse">
            <div class="Row">
                <div class="album" id="album">
                    <div class="holder">
                        <img id="albumPhoto" src="/assets/images/album.jpg" alt="Album Name">
                    </div>
                    <div class="content">
                        <h6 id="albumName">4x4=12</h6>
                        <div class="description">
                            <span id="albumQnty" class="title">10 Songs</span>
                            <span id="albumYear" class="title">2019</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}