{% extends 'base.twig' %}

{% block conteudo %}
<section class="Banner _artists">
</section>
<section class="Artist">
    <div class="container">
        <form class="Form _search" method="POST" id="artist">
            <h2>Procure seu Artista</h2>
            <label for="">Digite o ID do artists</label>
            <div class="input">
                <input type="text" id='artist' name="artist" placeholder="vAFBjdb2XJCyYp2zlwJDI"/> 
                <button class="Button _is-search" type="submit"><i class="icon-search"></i></button>
            </div>
            {% if data.msg %}
            <small id="msg">{{data.msg}}</small>
            {% else  %}
            <small id="msg">{{data.token}}</small>
            {% endif %}
        </form>
    </div>
</section>
{% endblock %}