</body>
<footer class="Footer" data-target="scroll">
    <div class="container">
        <div class="Row">
            <div class="col _col-4">
                <h3>Fastest way to transfer your musics</h3>
                <button class="Button _is-secondary">Cadastrar</button>
                <button class="Button _is-primary">Entrar</button>
            </div>
            <div class="col _col-3">
                <h5>Artists<i class="icon-left-open-big _show-sm"></i></h5>
                <ul class="menu-footer">
                    <a href="#"><li>Lorem, ipsum<i class="icon-path"></i> </li></a>
                    <a href="#"><li>Lorem, ipsum<i class="icon-path"></i> </li></a>
                    <a href="#"><li>Lorem, ipsum<i class="icon-path"></i> </li></a>
                    <a href="#"><li>Lorem, ipsum<i class="icon-path"></i> </li></a>
                </ul>
            </div>
            <div class="col _col-2">
                <h5>Album<i class="icon-left-open-big _show-sm"></i></h5>
                <ul class="menu-footer">
                    <a href="#"><li>LLorem, ipsum<i class="icon-path"></i> </li></a>
                    <a href="#"><li>Lorem, ipsum<i class="icon-path"></i> </li></a>
                </ul>
            </div>
            <div class="col _col-3">
                <h5>Transfer<i class="icon-left-open-big _show-sm"></i></h5>
                <ul class="menu-footer">
                    <a href="#"><li>Lorem, ipsum<i class="icon-path"></i> </li></a>
                    <a href="#"><li>Lorem, ipsum<i class="icon-path"></i> </li></a>
                    <a href="#"><li>Lorem, ipsum<i class="icon-path"></i> </li></a>
                    <a href="#"><li>Lorem, ipsum<i class="icon-path"></i> </li></a>
                </ul>
            </div>
            <hr />
            <div class="copyright">
                <div class="Row">
                    <div class="col _col-6">
                        <p>
                            © 2020 REVO | Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Error ea sunt consequuntur assumenda officiis
                            voluptates sit aliquam facere pariatur totam, dolorum
                            perferendis unde modi atque.
                        </p>
                    </div>
                    <div class="col _col-6">
                        <div class="redes">
                            <ul>
                                <a href="#"
                                    ><li><i class="icon-facebook"></i></li
                                ></a>
                                <a href="#"
                                    ><li><i class="icon-twitter"></i></li
                                ></a>
                                <a href="#"
                                    ><li><i class="icon-instagram"></i></li
                                ></a>
                                <a href="#"
                                    ><li><i class="icon-linkedin"></i></li
                                ></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="./assets/js/app.min.js"></script>
<script>
    // Web fonts
    WebFontConfig = {
        google: {
            families: ["Raleway:100,400,600,900", "Noto+Sans+JP:400,500"],
        },
        custom: {
            families: ["fontello"],
            urls: ["./assets/fonts/fontello/css/fontello.css"],
        },
    };

    (function () {
        var wf = document.createElement("script");
        wf.src = "https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js";
        wf.type = "text/javascript";
        wf.async = "true";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>
</html>