<!DOCTYPE html>
<html>

<head>
	<title>Example of the Authorization Code flow with Spotify</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>New Document</title>
	<link rel="stylesheet" type="text/css" href="./assets/css/app.css" />
</head>

<body>
	<header class="Header">
		<div class="container">
			<div class="content">
				<div class="img">
					<img src="./assets/images/logo.svg" alt="Logo">
				</div>
				<nav class="Navbar">
					<ul>
						<li>Home</li>
						<li>About</li>
						<li>Try It</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>