<!DOCTYPE html>
<html>

<head>
	<title>Revo</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="./assets/css/app.css" />
</head>

<body>
	<header class="Header">
		<div class="container">
			<div class="content">
				<div class="img">
					<a href="/"><img src="./assets/images/logo.svg" alt="Logo"></a>
				</div>
				<nav class="Navbar">
					<ul>
						<a href="/"><li>Home</li></a>
						<a href="/"><li>About</li></a>
						<a href="/"><li>Try It</li></a>
					</ul>
				</nav>
			</div>
		</div>
	</header>