{% extends 'base.twig' %}

{% block conteudo %}
<section class="Banner">
	<div class="container">
		<div class="Row">
			<div class="col _col-12">
				<div class="texto">
					<h1>Easily transfer your <span>Spotify</span> playlists to other music services</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="Services">
	<div class="container">
		<div class="Row">
			<div class="col _col-6">
				<div class="steps">
					<i class="icon-inovacao"></i>
					<div class="texto">
						<h4>Login into your music service</h4>
						<p>By logging in we can acces few information like your public playlists, your name and some
							statics. All informations required are explicit when logging by each music service</p>
					</div>

				</div>
				<div class="steps">
					<i class="icon-cloud_"></i>
					<div class="texto">
						<h4>Transfer playlists</h4>
						<p>With access to your public playlists, we can reply at your desired service. By the same way,
							you
							will need to login that service, so we can create your playlists automatically.
						</p>

					</div>
				</div>
				<div class="steps">
					<i class="icon-chart-line"></i>
					<div class="texto">
						<h4>Get your statistics</h4>
						<p>Few music services have statics of your music style, hours listend, top heard artists etc.
						</p>
					</div>
				</div>
			</div>
			<div class="col _col-6">
				<h2>Example</h2>
				<div class="img" style="background-image: url('./assets/images/example.png')"></div>
			</div>
		</div>
	</div>
</section>

<section class="Suported">
	<div class="col">
		<h2 class="_h1">All suported services</h2>
		<div class="container">
			<div class="col _col-3 Card _main" id="main">
				<div class="content">
					<img src="./assets/images/spotify.svg" alt="Spotify" class="_bright">
				</div>
			</div>
			<div class="Row _gutters">
				<div class="lines"></div>
				<div class="lines-b"></div>
				<div class="lines-c"></div>
				<div class="lines-d"></div>
				<div class="col _col-3 Card">
					<div class="content">
						<img src="./assets/images/google.svg" alt="Google Music">
					</div>
				</div>
				<div class="col _col-3 Card">
					<div class="content">
						<img src="./assets/images/youtube.svg" alt="Youtube">
					</div>
				</div>
				<div class="col _col-3 Card">
					<div class="content">
						<img src="./assets/images/apple.svg" alt="Apple Music">
					</div>
				</div>
				<div class="col _col-3 Card">
					<div class="content">
						<img src="./assets/images/youtube_music.svg" alt="Youtube Music">
					</div>
				</div>
				<div class="col _col-3 Card">
					<div class="content">
						<img src="./assets/images/deezer.svg" alt="Deezer">
					</div>
				</div>
				<div class="col _col-3 Card">
					<div class="content">
						<img src="./assets/images/soundcloud.svg" alt="SoundCloud" class="_bright">
					</div>
				</div>
				<div class="col _col-3 Card">
					<div class="content">
						<img src="./assets/images/tidal.svg" alt="Tidal" class="_bright">
					</div>
				</div>
				<div class="col _col-3 Card">
					<div class="content">
						<img src="./assets/images/spotify.svg" alt="Spotify" class="_bright">
					</div>
				</div>
				<div class="col _col-3 Card">
					<div class="content">
						<img src="./assets/images/amazon.svg" alt="Amazon Music" class="_bright">
					</div>
				</div>
				<div class="col _col-3 Card">
					<div class="content">
						<img src="./assets/images/tidal.svg" alt="Tidal" class="_bright">
					</div>
				</div>
				<div class="col _col-3 Card">
					<div class="content">
						<img src="./assets/images/spotify.svg" alt="Spotify" class="_bright">
					</div>
				</div>
				<div class="col _col-3 Card">
					<div class="content">
						<img src="./assets/images/spotify.svg" alt="Spotify" class="_bright">
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="Tools">
	<h2 class="_h1">Try it out our tools</h2>
	<div class="container">
		<div class="Row">
			<div class="col _col-4">
				<div class="Card">
					<div class="imgg" style="background-image: url('./assets/images/artist.jpg')">

					</div>
					<div class="content">
						<h4>Search for Artists</h4>
						<p>Looking for extra information about your favorite Artist?</p>
						<a class="Button" href="/">Try it</a>
					<div class="line"></div>
					</div>
				</div>
			</div>
			<div class="col _col-4">
				<div class="Card">
					<div class="imgg" style="background-image: url('./assets/images/album.png')">

					</div>
					<div class="content">
						<h4>Search for Albums</h4>
						<p>Looking for extra information about your favorite Album?</p>
						<a class="Button" href="/">Try it</a>
					<div class="line"></div>
					</div>
				</div>
			</div>
			<div class="col _col-4">
				<div class="Card">
					<div class="imgg" style="background-image: url('./assets/images/transfer.jpg')">

					</div>
					<div class="content">
						<h4>Transfer playlists</h4>
						<p>Fast, Secure and Simple way to transfer playlists</p>
						<a class="Button" href="/">Try it</a>
					<div class="line"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}