.Banner {
	.img {
		position: absolute;
		width: 100%;
		top: 0;
		height: auto;
		padding-top: 1000px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("../src/images/banner3.jpg");
		z-index: -1;
	}
	h1 {
		text-align: center;
		margin-bottom: 30px;
	}
}
