.List {
    list-style: none;
    margin: 0;
    
    :last-child {
        padding-right: 0;

    }
    
    li {
        padding: 15px 40px 15px 0;
        font-weight: 600;
        display: inline-block;
        text-align: center;

        span {

            &::before{
                content: '';
                position: relative;
                height: 2px;
                display: block;
                width: 20px;
                margin: 10px auto;
                background-color: #0d1226;
            }

            margin-top: 10px;
            font-weight: normal;
            text-transform: capitalize;
            display: block;
        }
    }
}